.filter-select:hover {
	cursor: pointer;
}
.filters-container .filter-select {
	padding: 1rem;
	margin-left: 1rem;
	width: 30px;
	height: 30px;
}
.filters-container .form-select {
	border-radius: 50% !important;
	border: 1px solid #e50914 !important;
	background-color: #000 !important;
	background-position: center !important;
	color: none;
}
.filter-select .form-select {
	filter: invert(12%) sepia(66%) saturate(7429%) hue-rotate(352deg)
		brightness(97%) contrast(102%);
}
.form-select:focus {
	box-shadow: none !important;
	outline: none !important;
}
