.movie-row-container {
	margin: 0 !important;
}
.movie-cards-container-row {
	padding-top: 5rem;
	margin: 0 !important;
}
/* ---------------------movies grid-------------------*/
.movies-grid.col-lg-9.col-12 > div > div {
	padding-right: 0;
	padding-left: 0;
}
/* ---------------------pagination-------------------*/
.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 35px;
	background-color: none;
	--bs-pagination-bg: transparent;
	--bs-pagination-color: #fff;
	--bs-pagination-padding-y: 0.8rem;
	--bs-pagination-padding-x: 1.3rem;
	--bs-pagination-border-radius: 0;
	--bs-pagination-hover-color: #e50914;
	--bs-pagination-hover-bg: white;
	--bs-pagination-hover-font-weight: bold;
	--bs-pagination-active-border-color: white;
	--bs-pagination-active-bg: #e50914;
}
.page-item a:focus {
	font-weight: bold;
	box-shadow: none !important;
}
/* ----------------------------------------------------*/
/* ------(filters & all movies btn)left container------*/
.all-movie-btn {
	background-color: #e50914;
	color: antiquewhite;
	border: solid 2px antiquewhite;

	border-radius: 0;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem;
}
.all-movie-btn:hover {
	background-color: antiquewhite;
	color: #e50914;
	border: solid 2px #e50914;
	border-radius: 0;
	font-size: 1rem;
	font-weight: bold;
}
.filters-container > .row {
	display: flex;
	justify-content: center;
	margin: 0 1rem 0 1rem;
}
.filters-container {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}

.filter-genre-name > * {
	display: flex;
	align-items: center;
	color: antiquewhite;
}

.filter-results-of {
	flex-direction: row;
	margin: 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	text-align: center;
}

.search-results-of {
	margin: 0.5rem;
	padding: 0.5rem;
	font-size: 1rem;
	color: antiquewhite;
	font-weight: bold;
}
.no-found-box {
	display: grid;
	font-family: fantasy;
	place-items: center;
	height: 50vh;
}
.no-search-results {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #e50914;
	border-bottom: 1px solid #e50914;
}

/* ----------------------------------------------------*/

.spinner-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.alert-area {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
